img#im {
  position: absolute;
  /*height: 30vh;*/
  /*z-index: 33;*/

}

#flows{
    position: absolute;
    top: 8vh;
}

.btn1 {
    border-width: 3px;
    border-color: rgb(127, 167, 22);
    border-style: solid;
    -webkit-border-radius:25px;
    -moz-border-radius:25px;
    border-radius:25px;
    /*position: absolute;*/
    /*left: 2751px;*/
    /*top: 506px;*/
    height: 62px;
    z-index: 12;
    font-size: 23px;
    font-family: "Arial";
    color: rgb(89, 141, 0);
    line-height: 1.2;
}


.btn2{
    border-width: 3px;
    border-color: rgb(127, 167, 22);
    border-style: solid;
    background-color: rgb(127, 167, 22);
    /*position: absolute;*/
    height: 62px;
    z-index: 8;
    -webkit-border-radius:25px;
    -moz-border-radius:25px;
    border-radius:25px;
    font-size: 23px;
    font-family: "Arial";
    color: rgb(255, 255, 255);
    line-height: 1.2;
}

.modal-backdrop {
    background-color: #9db753;
    opacity: 0.678;
}
.modal-backdrop.show {
    opacity: 0.8;
}

.login > h3 {
    font-size: 60px;
    font-family: "Century Gothic";
    color: rgb(89, 141, 0);
    line-height: 1.2;
}




div.modal-dialog{
    margin:25vh auto;
}

.btns{
    /*position: absolute;*/
    margin-top: 15vh;
}

.input-group-addon{
    border-right: solid 0px;
    border-radius: 10px;
    border-color: rgb(127, 167, 22);
}

.Username {
    font-size: 25px;
    font-family: "Century Gothic";
    color: rgb(127, 167, 22);
    line-height: 1.2;
}

input[placeholder="Username" i]{
    font-size: 20px;
    font-family: "Century Gothic";
    color: rgb(127, 167, 22);
    line-height: 1.2;
}
input[placeholder="Password" i]{
    font-size: 20px;
    font-family: "Century Gothic";
    color: rgb(127, 167, 22);
    line-height: 1.2;
}

.btn-success,.btn-success:active{
    border-radius:25px;
    background-color: rgb(127, 167, 22);
    height: 62px;
    font-size: 20px;
    font-family: "Century Gothic";
}


input[placeholder="Email Address" i]{
    font-size: 20px;
    font-family: "Century Gothic";
    color: rgb(127, 167, 22);
    line-height: 1.2;
}

.bg-success{
    background-color: rgb(127, 167, 22)!important;
    border-color: rgb(127, 167, 22)!important;
    max-height:50px;
}

.alink{
    color: rgb(127, 167, 22);
    font-size: 20px;
    font-family: "Century Gothic";
}

.btn-success:hover{
    border-radius: 25px;
    background-color: rgb(122, 163, 23);
    height: 62px;
}
.btn,.btn-block{
    border-radius: 25px;!important
}


input[type="text" i]{
    background: #eceeef;
    border-left:solid 0px;
    border-color: rgb(127, 167, 22);
    border-style: solid;
    border-radius: 10px;
    height: 50px;
}

input[type="email" i]{
    background: #eceeef;
    border-left:solid 0px;
    border-color: rgb(127, 167, 22);
    border-style: solid;
    border-radius: 10px;
    height: 50px;
}

.lgis{
    position: absolute;
    top: -30%;
    left: 9%;
}
.lgis1{
    position: absolute;
    top: -95%;
    left: 9%;
}

.icn{
    width:20%;
}

.link{
    font-family: "Arial";
    position: relative;
    top: 25%;
    transform: translateY(-25%);
    color: #7fa716;
}

.tinli{
    background: #7fa716;
    position: fixed;
    top:0;
    right:0;
    left:0;
    height:1vh;
}

.name{
    font-size: 5.5vmax;
    font-family: "Impact";
    text-align: center;
    color: rgb(228, 220, 218);
    line-height: 1.2;
    margin-left: 35px;
    -moz-transform: matrix( 1.34547805904457,0,0,1.34547805904457,0,0);
    -webkit-transform: matrix( 1.34547805904457,0,0,1.34547805904457,0,0);
    -ms-transform: matrix( 1.34547805904457,0,0,1.34547805904457,0,0);
    /*position: absolute;*/
    /*top: 58.2px;*/
    z-index: 390;
    margin-top: 2.3vmax;

}

.absol{
    position: absolute;
    top:0;
}

.header{
  background-color: rgb(127, 167, 22);
  position: absolute;
  height:5vh;
  z-index: 33;
  top:0px
}

.cols>a{
    text-decoration: none!important;
}

.abt.show{
    position: absolute;
    height:30vh
}

.cols.collapse.show{
    top:30vh
}

.drop>.abt{
    height: 70vh;
    display: block!important

}

.bg-def{
    background-color: rgb(127, 167, 22);
}

a:hover{
    color: rgb(127, 167, 22)!important;
    text-decoration: none!important;
}

body > .container{
    margin-top: 250px!important;
}

.cols{
    position: absolute;
    width: 50vw;
    left: 25vw;
    z-index:300;
}



.upp{
    color: rgba(255, 255, 255, 0.878);
    font-family: "Arial Narrow";
    text-align: center;
    line-height: 1.2;
    width: 20vw;
    left: 16vw;
    top: 9vw;
    font-size: 1.5vw;
    -moz-transform: matrix( 0.65777044277742,0,0,0.6013161017257,0,0);
    -webkit-transform: matrix( 0.65777044277742,0,0,0.6013161017257,0,0);
    -ms-transform: matrix( 0.65777044277742,0,0,0.6013161017257,0,0);
    position: absolute;
    /*top: 58.2px;*/
}

.cols1{
    position:fixed;
    z-index:300;
}
.cols1>a{
    text-decoration: none;
}

@media (max-width: 767px){

    .topr{
        position: absolute;
        width:100%;
        /*top:5vh;*/
    }
    .lgis{
        width: 303px;
        top: -23%;
    }
    .lgis1{
        width: 303px;
        top:-50%;
     }
    .upp{
        color: rgba(255, 255, 255, 0.878);
        font-family: "Arial Narrow";
        text-align: center;
        line-height: 1.2;
        width: 55vw;
        left: 27vw;
        top: 15.5vw;
        font-size: 4.5vw;
        -moz-transform: matrix( 0.65777044277742,0,0,0.6013161017257,0,0);
        -webkit-transform: matrix( 0.65777044277742,0,0,0.6013161017257,0,0);
        -ms-transform: matrix( 0.65777044277742,0,0,0.6013161017257,0,0);
        position: absolute;
        /*top: 58.2px;*/
    }

}
@media (max-width: 563px){

    .topr{
        position: absolute;
        /*top:5vh;*/
    }
    .lgis{
        width: 303px;
        top: -23%;
    }
    .lgis1{
        width: 303px;
        top:-50%;
     }
    .upp{
        color: rgba(255, 255, 255, 0.878);
        font-family: "Arial Narrow";
        text-align: center;
        line-height: 1.2;
        width: 55vw;
        left: 27vw;
        top: 15.5vw;
        font-size: 4.5vw;
        -moz-transform: matrix( 0.65777044277742,0,0,0.6013161017257,0,0);
        -webkit-transform: matrix( 0.65777044277742,0,0,0.6013161017257,0,0);
        -ms-transform: matrix( 0.65777044277742,0,0,0.6013161017257,0,0);
        position: absolute;
        /*top: 58.2px;*/
    }

}

.drop>.row>.cols{
    top: 70vh;
}
.drop>.row>.cols1{
    top: 70vh;
}

nav.navbar.navbar-toggleable-md.navbar-light.bg-faded{
    position: fixed;
    width: 100vw;
    bottom: 0;
    background-color: #7fa716;
    opacity: 0.902;
}

body{
     max-height: 100vh;
     margin: 0px;
    /*background-size:100vh;*/
    /*background-size: 100%;*/
    /*background-size:cover;*/
    /*background-repeat:no-repeat;*/
    background: url(../img/bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size:cover;
    -o-background-size:cover;
 }
html{
}
