*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border:0;
}

header{
    height: 100vh;
    width:100%;
}

body.index{
    max-height: 100vh;
    margin: 0px;
    /*background-size:100vh;*/
    /*background-size: 100%;*/
    /*background-size:cover;*/
    /*background-repeat:no-repeat;*/
    background: url(../img/bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size:cover;
    -o-background-size:cover;
}


.navbar {
    position: fixed;
    bottom:0;
    width:100%;
    background-color: rgb(127, 167, 22);
    opacity: 0.902;
}

.modal-backdrop {
    background-color: #9db753;
    opacity: 0.678;
}


.lgis{
    position: absolute;
    top: -30%;
    left: 9%;
}

.lgis1 {
    position: absolute;
    top: -210px;
    left: 10%;
    height: 163px;
}

div.modal-dialog{
    margin:200px auto 0px auto;
}

.modal-backdrop.show {
    opacity: 0.8;
}

input[type="text" i]{
    background: #eceeef;
background-size: contain;
background-position-x: 0;
text-align:center;
    background-repeat: no-repeat ;
    border-color: rgb(127, 167, 22);
    border-style: solid;
    border-radius: 10px;
    height: 50px;
}

input[type="password" i]{
    background: #eceeef;
text-align:center;
    border-color: rgb(127, 167, 22);
    border-style: solid;
    border-radius: 10px;
    height: 50px;
}


.login {
    font-size: 113px;
    font-family: "Century Gothic";
    color: rgb(89, 141, 0);
    line-height: 1.2;
    text-align: left;
    -moz-transform: matrix( 0.79446311714109,0,0,0.79970860005145,0,0);
    -webkit-transform: matrix( 0.79446311714109,0,0,0.79970860005145,0,0);
    -ms-transform: matrix( 0.79446311714109,0,0,0.79970860005145,0,0);
    position: absolute;
    left: 2972.879px;
    top: 1447.764px;
    z-index: 58;
}


.abs{
    position: absolute;
}

@media (min-width: 768px){


.hed-img{
    height:100%;
    position:absolute;
    margin-left: 50%;
    transform: translateX(-50%);
}

.content{
    height:1vh;
    background-color: rgb(127, 167, 22);
    transition: height 1s;
}

.container-fluid,.row{
    padding:0!important;
    margin:0!important;
}

.content.drop{
    height:60vh;
    /*transition: height 2s;*/
}
.name{
    font-size: 109px;
    text-align: center;
    /* width: 90%; */
    font-family: "Impact";
    text-align: center;
    color: rgb(228, 220, 218);
    line-height: 1.2;
    -moz-transform: matrix( 1.34547805904457,0,0,1.34547805904457,0,0);
    -webkit-transform: matrix( 1.34547805904457,0,0,1.34547805904457,0,0);
    -ms-transform: matrix( 1.34547805904457,0,0,1.34547805904457,0,0);
    position: absolute;
    top: 0.7vw;
    margin-left: 50%;
    transform: translateX(-50%);
}

.name:after{
    content: '';
    height: 2px;
    width: 100%;
    position: absolute;
    top: 120px;
    left: 50%;
    background-color: #fff;
    transform: translateX(-50%);
}

/*hr {*/
    /*position: absolute;*/
    /*margin-top: 1rem;*/
    /*height: 2px;*/
    /*width: 40%;*/
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
    /*margin-bottom: 1rem;*/
    /*border: 0;*/
    /*border-top: 1px solid rgb(255, 255, 255);*/
/*}*/

.content-cn{
    height:200px;
    position: absolute;
    width:40%;
    left:50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    margin: 0 auto;
    bottom: -195px;
}

.name-p{
    position: absolute;
    top: 145px;
    font-weight: 100 !important;
    text-transform: uppercase;
    font-size: 13px;
    font-family: "Arial";
    color: rgb(255, 255, 254);
    -moz-transform: matrix( 0.83915045562583,0,0,0.84469098894857,0,0);
    -webkit-transform: matrix( 0.83915045562583,0,0,0.84469098894857,0,0);
    -ms-transform: matrix( 0.83915045562583,0,0,0.84469098894857,0,0);
    color: rgba(255, 255, 255, 0.878);
    line-height: 1.2;
    text-align: center;
    left: 50%;
    width:40%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);

}
.light{
    font-weight: 100!important;
}

.bold{
    text-align: center;
    /* width: 90%; */
    font-family: "Impact";
    text-align: center;
    color: rgb(255, 255, 255);
}
.small{
    width: 30px;
}
.small+span{
    color: #7fa716!important;
    vertical-align: middle;
}

.a1{
    margin-top: 50px;
    transform: translateY(-50%);
}

a{
    text-decoration: none!important;
}

.sukout:hover{
    background-color: #7fa716!important;
    border-radius: 250px;
}

.sukout{
    border-radius: 250px;
}

.sukses{
    background-color: #7fa716!important;
    border-radius: 250px;
}

.sukses:hover{
    background-color: #6d9213 !important;
}

.top{
    margin-top: 25%!important;
    transform: translateY(-50%);
}
    .w-90 {
        width: 90%;
    }
    img.w-90 {
        text-align: center;
        margin-left: 5%;
        margin-top: 100px;
    }

}

@media (max-width: 767px) {
    .content-cn {
        width: 100%;
        height:140px;
        position: absolute;
        bottom: -135px;
    }

    .thirt{
        margin-top: 10rem;
    }


    .top{
        margin-top: 20rem!important;
        transform: translateY(-50%);
    }

    .hed-img {
        width:100%;
        position: absolute;
    }
    .w-90 {
        width: 90%;
    }

    img.w-90 {
        text-align: center;
        margin-left: 5%;
        margin-top: 55px;
    }

    .container-fluid, .row {
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .sukout:hover {
        background-color: #7fa716 !important;
        border-radius: 250px;
    }

    .sukout {
        border-radius: 250px;
        margin: 10px 5%;
        width: 90%;
    }

    .sukses {
        background-color: #7fa716 !important;
        border-radius: 250px;
        margin: 10px 5%;
        width: 90%;
    }

    .sukses:hover {
        background-color: #6d9213 !important;
    }

    .smaller {
        width: 70%;
        margin-bottom: 20px;
    }

    .name {
        font-size: 58px;
        text-align: center;
        /* width: 90%; */
        font-family: "Impact";
        text-align: center;
        color: rgb(228, 220, 218);
        line-height: 1.2;
        -moz-transform: matrix(1.34547805904457, 0, 0, 1.34547805904457, 0, 0);
        -webkit-transform: matrix(1.34547805904457, 0, 0, 1.34547805904457, 0, 0);
        -ms-transform: matrix(1.34547805904457, 0, 0, 1.34547805904457, 0, 0);
        position: absolute;
        top: 0.7vw;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .name:after {
        content: '';
        height: 2px;
        width: 100%;
        position: absolute;
        top: 63px;
        left: 50%;
        background-color: #fff;
        transform: translateX(-50%);
    }

    .name-p {
        position: absolute;
        top: 70px;
        font-weight: 100 !important;
        text-transform: uppercase;
        font-size: 8px;
        font-family: "Arial";
        color: rgb(255, 255, 254);
        -moz-transform: matrix(0.83915045562583, 0, 0, 0.84469098894857, 0, 0);
        -webkit-transform: matrix(0.83915045562583, 0, 0, 0.84469098894857, 0, 0);
        -ms-transform: matrix(0.83915045562583, 0, 0, 0.84469098894857, 0, 0);
        color: rgba(255, 255, 255, 0.878);
        line-height: 1.2;
        text-align: center;
        left: 50%;
        width: 40%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }


    .content{
        height:1vh;
        background-color: rgb(127, 167, 22);
        transition: height 1s;
    }

    .content.drop {
        height: 60vh;
        /*transition: height 2s;*/
    }


    .bold{
        text-align: center;
        /* width: 90%; */
        font-family: "Impact";
        text-align: center;
        color: rgb(255, 255, 255);
    }
}
